<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70114004576-nppi183qp22nc6msddnhgp36odff2a3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70114004576-nppi183qp22nc6msddnhgp36odff2a3q</string>
	<key>API_KEY</key>
	<string>AIzaSyBag34SP_GaxYiA5RmNprnOTxILVSIMV1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>70114004576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fcmMurni</string>
	<key>PROJECT_ID</key>
	<string>fcm-murni</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-murni.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70114004576:ios:da108fdcd094bf5903bd05</string>
</dict>
</plist>